In [1]:
hungry = False 
if hungry:
    print ('feed me')
else: 
    print ('not hungry')

not hungry

In [2]:
loc = 'Bank'

if loc == 'Auto shop':
    print ('Cars are cool!')
elif loc == 'Bank': 
    print ('Money are cool')
else: 
    print ('Where am i')

Money are cool

In [20]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list: 
    if num == 2:
        continue
    print (num)

1
3
4
5
6
7
8
9
10

In [4]:
for num in my_list: 
    if num % 2 == 0: 
        print(f'{num} even number')
    else:
        print(f'odd number {num} ')

odd number 1
2 even number
odd number 3
4 even number
odd number 5
6 even number
odd number 7
8 even number
odd number 9
10 even number

In [5]:
list_sum = 0 

for num in my_list:
    list_sum = list_sum + num
    print (list_sum)

1
3
6
10
15
21
28
36
45
55

In [6]:
d ={'k1':1, 'k2':2, 'k3':3}

for value in d.values():
    print (value)

1
2
3

In [18]:
x = 0 
while x < 5:
    print (f'x now is {x}')
    x += 1 
else: 
    print ('x not less than 5')

x now is 0
x now is 1
x now is 2
x now is 3
x now is 4
x not less than 5

In [22]:
mylist = [1,2,3]

In [30]:
for num in range(2,10,2):
    print (num)

2
4
6
8

In [34]:
index_count = 0 
for letter in 'abcde':
    print ('for index {} the letter is {}'.format (index_count, letter))
    index_count += 1

for index 0 the letter is a
for index 1 the letter is b
for index 2 the letter is c
for index 3 the letter is d
for index 4 the letter is e

In [36]:
word = 'abcde'
for item in enumerate (word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [40]:
mlist1 = [1,2,3]
mlist2 = ['a','b','c']

In [60]:
for num, item in zip (mlist1, mlist2):
    print (num, item)

1 a
2 b
3 c

In [62]:
from random import shuffle

In [74]:
my = [1,2,3,4,5,6,7]

In [76]:
shuffle (my)

In [78]:
my

[1, 2, 7, 4, 6, 3, 5]

In [86]:
from random import randint

In [90]:
randint(4,7)

6

In [92]:
input ('Enter something')

Enter something I am

'I am '

In [102]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [104]:
mylist

['h', 'e', 'l', 'l', 'o']

In [111]:
celc = [10, 25, 34.5]
fer = [((9/5)*temp + 32) for temp in celc]

In [113]:
fer

[50.0, 77.0, 94.1]